<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
        <hr class="thickhrCplus">
        
        <nav>
            <a href="/">Home</a>
            <a href="/c-plus"><strong><span style="color:#BA0505">C++</strong></a>
            <a href="/java">Java</a>
            <a href="/html">Html</a>
             <hr width = "50%" />
             
    
        </nav>
        
        <br /><br />
        
        <main>
            
            <figure id=programming >
                 <!-- <img src= "img/coding.jpg" alt = "Picture of Coding" /> -->
             <p class = "alignCodingPic">
             <img src = "image/C++Main.jpg" alt = "Picture of C++Main" class = "codingPic" />
             </p>
                 
             </figure>
             <p class = "description"> Brief History of C++</p>
             <div>
                 
                 <p>C++ is a middle-level, object oriented programming language. 
                 C++. C++ was released in 1983 and was considered to be an object oriented
                 version of C.</p>
                
             </div>
              <br /> <br />
             <p class = description> Why C++? <p/>
             
             <div> 
                 <p> C++ is used to write games, graphics, computer programs, video 
                 editors, orperating systems, and more.
                 Its one of the first languages taught at colleges.
                 
                 </p>
                 
             </div />
        
        </main>
        
        <hr class="thickhrCplus">
        
        <%- include('partials/footer.ejs')%>
        
            <div class="footerImageC">
                
                <img src= "img/csumb_logo.png"/> <!-- could replace image here too-->
                
            </div>
        
        
    </body>

</html>