<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
         <hr class="thickhrHtml">
        
        <nav>
                
            <a href="/">Home</a>
            <a href="/c-plus">C++</a>
            <a href="/java">Java</a>
            <a href="/html"><strong><span style="color:#70B6FF">Html</strong></a>
    
        </nav>
        
        <br><br>
        
        <main>
            
            <figure id=programming >
                 <!-- <img src= "img/coding.jpg" alt = "Picture of Coding" /> -->
             </figure>
             
             <p class = "alignCodingPic">
             <img src = "image/htmlMain.jpg" alt = "Picture of htmlMain" class = "codingPic" />
             </p>
             
             <p class = "description"> Brief History of HTML</p>
             <div>
                 
                 <p>HTML was created by physicist Tim Berners-Lee in 1990 to allow
                 scientists to share documents online.</p>
                
             </div>
             <br /> <br />
             <p class = description> Why HTML? <p/>
             
             <div> 
                 <p> HTML is used to make online documents. This website was made using HTML!
                 If you view almost any page online, they too use html.
                 
                 
                 </p>
                 
             </div />
        
        </main>
        
        <hr class="thickhrHtml">
        
        <%- include('partials/footer.ejs')%>
            
            <div class="footerImageC">
                
                <!-- could replace image here too-->
                
            </div>
        
    </body>

</html>