<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
        <hr class="thickhrHome">
        
        <nav>
                
            <a href="/"><strong>Home</strong></a>
            <a href="c-plus">C++</a>
            <a href="/java">Java</a>
            <a href="/html">Html</a>
    
        </nav>
        
        <br /><br />
        
        <main>
            
            <figure id=programming >
                 <!-- <img src= "img/coding.jpg" alt = "Picture of Coding" /> -->
             </figure>
             
             <p class = "alignCodingPic">
             <img src = "image/codingPic.jpg" alt = "Picture of coding" class = "codingPic" />
             </p>
             
             <p class = "question">What are programming languages?</p> 
             
             </br></br>
             <div>
                 
                 <p>A programming language allows programmers to give instructions 
                 to the computer in a language that computer will understand. Just how we have
                 a ton of languages, there are a selection of languages you can programm with. The 
                 three languages that will be covered are JAVA, C++, and HTML.</p>
                
             </div>
             
             <div>
                 <p>Sources: </p> <br>
                 <a href="https://howtodoinjava.com/java/basics/what-is-java-programming-language/">
                     https://howtodoinjava.com/java/basics/what-is-java-programming-language/</a> <br>
                <a href="https://www.computerscience.org/resources/computer-programming-languages/">
                    https://www.computerscience.org/resources/computer-programming-languages/</a> <br>
                <a href="https://www.w3schools.com/whatis/whatis_html.asp">https://www.w3schools.com/whatis/whatis_html.asp</a>

             </div>
            
        </main>
        
        <hr class="thickhrHome">
        
        <%- include('partials/footer.ejs')%>
            
            <div class="footer-image-home">
                
                
                
            </div>
        
    </body>

</html>