<%- include('partials/header.ejs') %>

    <body style="background-color: #020812; color:white">
        
        <header> 
        
        <h1> Progamming Languages </h1> 
        
        </header>
        
        <hr class="thickhrJava">
        
        <nav>
            <a href="/">Home</a>
            <a href="/c-plus">C++</a>
            <a href="/java"><strong><span style="color:#3CA126">Java</strong></a>
            <a href="/html">Html</a>
        </nav>
        
        <br><br>
        
        <main>
            
            <figure id=programming >
                 <!-- <img src= "img/coding.jpg" alt = "Picture of Coding" /> -->
             </figure>
             
             <p class = "alignCodingPic">
             <img src = "image/javaMain.jpg" alt = "Picture of javaMain" class = "codingPic" />
             </p>
             
             <p class = "description"> Brief History of Java</p>
             <div>
                 
                 <p>Java is a high-level, object oriented programming language. 
                 Java was delevoped in 1990 at Sun Microsystems to add capacity to 
                 C++. It is now owned by oracle.</p>
                
             </div>
             <br /> <br />
             <p class = description> Why Java? <p/>
             
             <div> 
                 <p> Java is used or written in alot of programs such as: Eclipse,
                 Minecraft, OpenOffice, Adobe Creative Suite, Runescape, and much more. 
                 Its also a core foundation for developing Android applications.
                 Below is an example of how to write make a 'hello world' application.
                 </p>
                 <samp>
                     <br />
class HelloWorld <br />
{               <br />
    // Your program begins with a call to main(). <br />
    // Prints "Hello, World" to the terminal window. <br />
    public static void main(String args[]) <br />
    {             <br />
        System.out.println("Hello, World"); <br />
    }             <br />
} </samp>
             </div />
         
        
        </main>
        
        <hr class="thickhrJava">
        
        <%- include('partials/footer.ejs')%>
            
            <div class="footerImageC">
                
               
                
            </div>
            
        
    </body>

</html>