body{
    background-color: #022846;
    color:white;
}
header, nav, footer {
    text-align: center;
}
main{
    text-align: left;
}

nav a { /* links withing "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*removes unerlines*/
    color: white;          /*by default, links are blue */
    font-family: 'Orbitron';
    
}
nav a:hover{ /*pseudo class */
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s; /*transition effect*/
}

#me, #welcomeText{
    float: left;
}

footer {
    font-size: 1em;
    color: white;
    clear: left;
}

table{
    margin: 0px auto;
}

td{
    padding-right: 10px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

td strong{
    color: orange;
}

#table-header{
    background-color: #351a00;
}

.table-row{
    background-color: #753900;
}

ul{
    text-align: left;
    padding-left: 200px;
    text-decoration: none;
}

.hobby{
    color: yellow;
}

li{
    color: white;
    text-decoration: none;
}
h1{
    font-family: 'Orbitron';
    font-size: 4em;
    margin-bottom: 0px;
}
.question{
    margin: auto;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 1.7em;
    
}

div p{
    font-size: 1.1em;
    font-family: 'Source Code Pro';
    padding-left: 50px;
    padding-right: 50px;
    
}



.alignCodingPic{ 
    text-align:center;
}

.description{
    margin: auto;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    font-size: 1.7em;
}

samp{
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.1em;
    padding-left: 50px;
    padding-right: 50px;
}

a{
    color: yellow;
}